<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
</head>
<body>
  <h1>Events</h1>
  <ul>
    <% if(events && events.length) { %>
      <% events.forEach(event => { %>
        <li><%= event.name %> - <%= event.date %></li>
      <% }) %>
    <% } else { %>
      <li>No events available</li>
    <% } %>
  </ul>
  <a href="/">Back to Home</a>
</body>
</html>
