<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
</head>
<body>
  <h1>Events</h1>
  <ul>
    <% events.forEach(event => { %>
      <li><%= event.name %> - <%= event.date %></li>
    <% }) %>
  </ul>
</body>
</html>
