<!-- views/register.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/css/register.css">
</head>
<body>
  <div class="container">
    <h1>Register</h1>
    <% var messages = messages || []; %>
    <% if (messages && messages.length > 0) { %>
      <p><%= messages[0] %></p>
    <% } %>
    <form method="POST" action="/auth/register">
      <label for="firstname">Firstname:</label>
      <input type="text" name="firstname" id="firstname" required>
      <label for="lastname">Lastname:</label>
      <input type="text" name="lastname" id="lastname" required>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
      
      <button type="submit">Register</button>
      
    </form>
    <p>Already have an account? <a href="/auth/login">Login here</a></p>
  </div>
</body>
</html>
